/microservices/.idea/
/microservices/product/target/
/microservices/order/target/
/microservices/inventory/target/
/microservices/discovery-server/target/
/microservices/authentication-service/target/
/microservices/api-gateway/target/
/.idea/
/microservices/DockerVolumes/
/microservices/notification-service/target/
